.succes__close {
  transform: scale(0);
}

.succes__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #0002;
  backdrop-filter: blur(2px);
  display: grid;
  place-content: center;
}

.succes {
  box-shadow: 0.3em 0.5em 2em rgb(77, 75, 75);
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 2em 1.5em 2.5em;
  border-radius: 0.8em;
  display: grid;
  gap: 0.7em;
  position: relative;
}

.succes__btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 10em;
  font-size: 1rem;
  margin-top: 1.5em;
  padding: 0.3em 1em;
  background-color: #40467e;
  border: none;
  border-radius: 0.5em;
  color: white;

  &:hover{
    filter: brightness(1.2);
  }
}